Options -MultiViews
RewriteEngine On

# # Redirect requests for non-existent files or directories to the root
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ / [L,R=302]


# Try to serve file directly, fallback to .html, then to 404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]

ErrorDocument 404 404.html
