@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply min-h-screen w-full overflow-y-auto
    }

    body {
        @apply min-h-screen h-full w-full flex flex-col
    }
}

@layer utilities {
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    .animate-marquee {
        animation: scroll 10s linear infinite;
    }
}
