@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal-medium.ttf') format('truetype');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html,
  body {
    @apply min-h-screen w-full overflow-x-hidden overflow-y-auto;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'PP Neue Montreal', sans-serif; */
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
  }

  body {
    @apply flex flex-col bg-background text-foreground;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  .heading-text {
    @apply text-4xl font-bold my-10 text-center text-dwd-primary;
  }
}

@layer utilities {
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: scroll 10s linear infinite;
  }

  .half-underline:after {
    content: '';
    display: block;
    width: 3rem;
    height: 1px;
    background-color: white;
  }
}

.slide {
  transform: translate3d(0, 0, 0);
}

.mission {
  grid-auto-rows: 1fr;
}

.mission-item {
  position: relative; /* Required for positioning the ::before pseudo-element */
}

.mission-item::before {
  content: attr(
    data-index
  ); /* Use the data-index attribute to display the number */
  position: absolute;
  left: -1.6rem;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  font-size: 1.5rem; /* Adjust font size as needed */
  color: rgb(4, 30, 63); /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

.bg_slider {
  --initialTextColor: #041e3f;
  --slideTextColor: #fff;

  --initialBgColor: #fff;
  --slideBgColor: #041e3f;

  background-image: linear-gradient(
    90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );
  background-size: 200%;
  transition: background-position 0.3s cubic-bezier(0.47, 0.1, 1, 0.63),
    color 0.2s linear;
  transition-delay: 0s, 0.15s;
}

.bg_slider:hover {
  cursor: pointer;
  background-position: -100% 100%;
}

.scrolling-text {
  transform: translateY(100%);
  animation: my-animation 15s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.break-last-words {
  white-space: nowrap;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.shadow_inset {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.embla {
  position: relative;
  margin-left: 9%;
  margin-right: 9%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 33.3333%;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
}

.slide-content {
  background-color: #eee;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 15px;
  border: solid black 1px;
}

.embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  color: #013365;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem;
}
.embla__button:hover {
  transition-duration: 0.2s;
  scale: 1.1;
}
.embla__button--prev {
  left: -60px;
}

.embla__button--next {
  right: -60px;
}

.embla__button__svg {
  width: 2rem;
  height: 2rem;
}

.embla__dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.embla__dot {
  background-color: #50a5ca;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0 0.25rem;
  cursor: pointer;
  margin-top: 0.9rem; /* Adjusted margin */
}

.embla__dot--selected {
  background-color: #013365;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.75rem; /* Keep the same margin as non-selected dots */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 767px) {
  .bar {
    width: 50%;
  }
  .procedure:hover {
    scale: 1;
    transition-duration: 0.2s;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .shortbox {
    margin-left: 5%;
  }
  .uj {
    margin-left: 5%;
  }

  .pp {
    margin-left: 5%;
    margin-right: 0%;
  }
  .whatsapp {
    margin-left: 5%;
    margin-right: 2%;
  }
  .buttons {
    flex-direction: column;
    white-space: nowrap;
    gap: 25px;
    margin-left: 12%;
    width: 220%;
  }
  .embla__button--next {
    right: -40px;
  }
  .embla__button--prev {
    left: -40px;
  }
  .embla {
    margin-left: 9.5%;
    margin-right: 9.5%;
  }
  .slide-content {
    width: 330px;
  }
  .contact {
    flex-direction: column;
    gap: 50px;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .buttons {
    white-space: initial;
  }
  .slide-content {
    width: 290px;
  }
  .CGC {
    width: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.slide-in-left {
  animation: slide-in-left 1s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 1s ease-out forwards;
}

.marquee-section {
  background-color: #f7fafc; 
  padding: 10px 0;
  border: 1px solid #e2e8f0; 
  border-radius: 8px; 
}

.marquee-container {
  display: flex;
  width: 200%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 50s linear infinite;
  white-space: nowrap;
  font-size: 1.125rem;
  color: #1a202c;
}

.marquee-item {
  margin-right: 100px;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.marquee-item a {
  color: #3182ce;
  text-decoration: none;
  padding: 4px 8px; 
  border-radius: 4px; 
  transition: color 0.3s, text-decoration 0.3s;
}

.marquee-item a:hover {
  color: #2b6cb0;
  text-decoration: underline;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
